* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../img/fondo3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Roboto, sans-serif;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  /* border: 0.0625em solid red; */
}
/* !BARRA DE NAVEGACION IZQUIERDA */
/* !BARRA DE NAVEGACION IZQUIERDA */
/* !BARRA DE NAVEGACION IZQUIERDA */

.contenedor_navegacion {
  max-width: 240px;
  min-width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px 0 ;
  color: var(--fuente__blanca);
  position: relative;
  /* border: 0.0625em solid red; */
}
.dashboard_nombre {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Russo One", sans-serif;
  background: var(--bg__negro);
  /* border: 0.0625em solid fuchsia; */
  box-shadow: rgba(50, 50, 93, 0.35) 0em 3.125em 6.25em -1.25em,
    rgba(0, 0, 0, 0.3) 0em 1.875em 3.75em -1.875em,
    rgba(10, 37, 64, 0.95) 0em -0.125em 0.375em 0em inset;
  border-bottom: 0.0625em solid var(--borde__gris);
  border-radius: 0.625em 0.625em 0 0;
  -webkit-border-radius: 0.625em 0.625em 0 0;
  -moz-border-radius: 0.625em 0.625em 0 0;
  -ms-border-radius: 0.625em 0.625em 0 0;
  -o-border-radius: 0.625em 0.625em 0 0;
}
.icon-menu {
  cursor: pointer;
  font-size: 1.6em;
}
.icon-menu:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.nombre {
  font-size: 1.2em;
}
/* ICONO DE LA HAMBURGUESA */
/* ICONO DE LA HAMBURGUESA */
.hamburger__button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.hamburger__span {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #fff;
  display: block;
  width: 60%;
  margin: 5px auto;
  height: 2px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/* NAMES */
/* NAMES */
.open .top-line {
  animation-name: top-line-animation;
}
.open .middle-line {
  animation-name: middle-line-animation;
}
.open .bottom-line {
  animation-name: bottom-line-animation;
}
.top-line {
  animation-name: top-line-animation-close;
}
.middle-line {
  animation-name: middle-line-animation-close;
}
.bottom-line {
  animation-name: bottom-line-animation-close;
}
/* OPEN */
/* OPEN */
@keyframes top-line-animation {
  50%,
  100% {
    margin: 0 auto;
    transform: translateY(2px) rotate(-45deg);
    -webkit-transform: translateY(2px) rotate(-45deg);
    -moz-transform: translateY(2px) rotate(-45deg);
    -ms-transform: translateY(2px) rotate(-45deg);
    -o-transform: translateY(2px) rotate(-45deg);
  }
}
@keyframes middle-line-animation {
  20%,
  100% {
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
}
@keyframes bottom-line-animation {
  50%,
  100% {
    margin: 0 auto;
    transform: translateY(-2px) rotate(45deg);
    -webkit-transform: translateY(-2px) rotate(45deg);
    -moz-transform: translateY(-2px) rotate(45deg);
    -ms-transform: translateY(-2px) rotate(45deg);
    -o-transform: translateY(-2px) rotate(45deg);
  }
}
/* CLOSE */
/* CLOSE */
@keyframes top-line-animation-close {
  0% {
    margin: 0 auto;
    transform: translateY(2px) rotate(-45deg);
    -webkit-transform: translateY(2px) rotate(-45deg);
    -moz-transform: translateY(2px) rotate(-45deg);
    -ms-transform: translateY(2px) rotate(-45deg);
    -o-transform: translateY(2px) rotate(-45deg);
  }
  50%,
  100% {
    margin: 5px auto;
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
    -moz-transform: translateY(0) rotate(0deg);
    -ms-transform: translateY(0) rotate(0deg);
    -o-transform: translateY(0) rotate(0deg);
  }
}
@keyframes middle-line-animation-close {
  0% {
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
  20%,
  100% {
    margin: 0 auto;
    width: 60%;
    opacity: 1;
  }
}
@keyframes bottom-line-animation-close {
  0% {
    margin: 0 auto;
    transform: translateY(-2px) rotate(45deg);
    -webkit-transform: translateY(-2px) rotate(45deg);
    -moz-transform: translateY(-2px) rotate(45deg);
    -ms-transform: translateY(-2px) rotate(45deg);
    -o-transform: translateY(-2px) rotate(45deg);
  }
  50%,
  100% {
    margin: 5px auto;
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
    -moz-transform: translateY(0) rotate(0deg);
    -ms-transform: translateY(0) rotate(0deg);
    -o-transform: translateY(0) rotate(0deg);
  }
}

/* !NAVEGACION */
/* !NAVEGACION */
/* !NAVEGACION */

.dashboard_navegacion {
  height: 90%;
  background: var(--bg__negro);
  box-shadow: rgba(50, 50, 93, 0.35) 0em 3.125em 6.25em -1.25em,
    rgba(0, 0, 0, 0.3) 0em 1.875em 3.75em -1.875em,
    rgba(10, 37, 64, 0.95) 0em -0.125em 0.375em 0em inset;
  border-radius: 0 0 0.625em 0.625em;
  -webkit-border-radius: 0 0 0.625em 0.625em;
  -moz-border-radius: 0 0 0.625em 0.625em;
  -ms-border-radius: 0 0 0.625em 0.625em;
  -o-border-radius: 0 0 0.625em 0.625em;
  overflow: auto;
}
.dashboard_navegacion::-webkit-scrollbar {
  width: 0.75em;
}
.dashboard_navegacion::-webkit-scrollbar:hover {
  box-shadow: inset 0 0 0.375em var(--bg__blanco);
}
.dashboard_navegacion::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.375em rgba(256, 256, 256, 0.3);
  border-radius: 0.625em;
}
.dashboard_navegacion::-webkit-scrollbar-thumb {
  border-radius: 0.625em;
  box-shadow: inset 0 0 0.375em var(--bg__blanco);
}
.dashboard_navegacion::-webkit-scrollbar-corner {
  background-color: var(--bg__blanco);
}
.nav {
  padding: 1.25em 0;
}
.nav_link {
  display: block;
  color: var(--fuente__blanca);
  text-decoration: none;
  padding: 0.625em 0;
}
.nav_link--inside {
  padding-left: 1.25rem;
  text-align: left;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 0.0625em solid white; */
}
.list_item {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  margin-bottom: 0.3125em;
  overflow: hidden;
  /* border: 0.0625em solid red; */
  border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
}
.list_btn:hover,
.nav_link:hover {
  background: #535358;
}
.nav_link:hover {
  background: #535358;
  border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
}
.list_btn:active,
.nav_link:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.list_item--click {
  cursor: pointer;
}
.list_btn {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--fuente__blanca);
  padding: 10px 10px;
  gap: 16px;
  /* margin: 0 auto; */
  /* border: 0.0625em solid fuchsia; */
  border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
}
.arrow .icon-angle-right {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.icon-angle-right .arrow {
  margin-left: auto;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
.list_show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #fff;
  /* border: 0.0625em solid fuchsia; */
  list-style: none;
  transition: height 0.4s;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  -ms-transition: height 0.4s;
  -o-transition: height 0.4s;
  height: 0;
}
.item_select {
  background: var(--bg__rojo);
}

/* !CONTENIDO DERECHA */
/* !CONTENIDO DERECHA */
/* !CONTENIDO DERECHA */

.contenido_derecha {
  /* max-width: 1200px;
  min-width: 800px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border: 0.0625em solid red; */
}

/* !BARRA DE NAVEGACION SUPERIOR */
/* !BARRA DE NAVEGACION SUPERIOR */
/* !BARRA DE NAVEGACION SUPERIOR */

.contenedor_navbar {
  min-height: 100px;
  align-self: stretch;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background: var(--bg__blanco);
  position: relative;
  /* border: 0.0625em solid blue; */
  box-shadow: rgba(50, 50, 93, 0.25) 0em 3.125em 6.25em -1.25em,
    rgba(0, 0, 0, 0.3) 0em 1.875em 3.75em -1.875em,
    rgba(10, 37, 64, 0.35) 0em -0.125em 0.375em 0em inset;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.navbar_izquierda {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.25em;
  /* border: 0.0625em solid red; */
}
.paginas {
  color: var(--bg__gris-claro);
  margin: 0 20px;
}
.contenedor_logo {
  width: 8.75em;
  object-fit: cover;
  /* border: 0.0625em solid red; */
}
.logo {
  width: 100%;
}
.pagina {
  font-family: "Russo One";
  color: var(--fuente__negra);
}
.navbar_derecha {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 1.25em;
  color: var(--fuente__gris);
  /* border: 0.0625em solid red; */
}
.buscar {
  width: 13.75rem;
  height: 1.875rem;
  padding: 0.3125em;
  font-size: 0.8rem;
  margin-right: 0.3125em;
  border: 0.0625em solid var(--borde__gris);
  border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
}
.buscar:hover {
  border: 0.125em solid var(--bg__azul);
}
.buscar::placeholder {
  color: var(--fuente__gris);
  padding: 0.3125rem;
}
.icono-navbar {
  margin-right: 0.3125em;
  font-size: 1.2em;
  cursor: pointer;
}
.icono-navbar:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.contenedor_avatar {
  width: 3.125em;
  object-fit: cover;
  cursor: pointer;
}
.contenedor_avatar:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.avatar {
  width: 100%;
}


/* !POPUP NOTIFICACIONES */
/* !POPUP NOTIFICACIONES */
/* !POPUP NOTIFICACIONES */

.contenedor_popup_notificaciones {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  visibility: hidden;
  opacity: 0;
  /* border: 0.0625em solid fuchsia; */
}
.activar_bg_notificaciones {
  visibility: visible;
  opacity: 1;
}
.no-scroll_notificaciones {
  overflow-Y: hidden;
}
.popup_notificaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25em;
  margin-top: 6.87rem;
  margin-bottom: 0.625em;
  color: var(--fuente__gris-oscuro);
  background: #eee;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  box-shadow: rgba(50, 50, 93, 0.25) 0em 3.125em 6.25em -1.25em,
    rgba(0, 0, 0, 0.3) 0em 1.875em 3.75em -1.875em,
    rgba(10, 37, 64, 0.35) 0em -0.125em 0.375em 0em inset;
  border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
  margin-left: 0.625em;
}
.cerrar_popup_notificaciones {
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
}
.icono_titulo {
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.25em;
  border-bottom: 0.0625em solid var(--borde__gris-oscuro);
  /* border: 0.0625em solid fuchsia; */
}
.contenedor_notificaciones {
  min-height: 300px;
  max-height: 470px;
  overflow: auto;
  padding: 0 0.625em;
  /* border: 0.0625em solid fuchsia; */
}
.contenedor_notificaciones::-webkit-scrollbar {
  width: 0.75em;
}
.contenedor_notificaciones::-webkit-scrollbar:hover {
  box-shadow: inset 0 0 0.375em var(--bg__gris-claro);
}
.contenedor_notificaciones::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.375em rgba(256, 256, 256, 0.3);
  border-radius: 0.625em;
}
.contenedor_notificaciones::-webkit-scrollbar-thumb {
  border-radius: 0.625em;
  box-shadow: inset 0 0 0.375em var(--bg__gris-claro);
}
.contenedor_notificaciones::-webkit-scrollbar-corner {
  background-color: var(--bg__gris-claro);
}
.contenedor_notificacion {
  display: flex;
  padding: 0.625em;
  border: 0.0625em solid var(--borde__gris-oscuro);
  margin-bottom: 0.625em;
  background: var(--bg__blanco);
  position: relative;
  cursor: pointer;
}
.contenedor_notificacion:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.contenedor_img_notificaciones {
  width: 5em;
  margin-right: 0.625em;
}
.img_notificaciones {
  width: 100%;
}
.tipo_notificacion {
  color: var(--fuente__negra);
  font-weight: bold;
}
.icono_notificacion {
  position: absolute;
  top: 0.3125em;
  right: 0.3125em;
  color: var(--bg__azul);
}
.btn_cerrar_popup_notificaciones {
  width: 11.25em;
  font-size: 1em;
  padding: 0.625em 1.25em;
  margin-top: 0.9375em;
  margin-bottom: 0.625em;
  color: var(--fuente__gris-oscuro);
  text-align: center;
  background: var(--bg__blanco);
  /* border: 0.0625em solid fuchsia; */
}

/* !POPUP USUARIO */
/* !POPUP USUARIO */
/* !POPUP USUARIO */

.contenedor_popup_usuario {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  visibility: hidden;
  opacity: 0;
  /* border: 0.0625em solid fuchsia; */
}
.activar_bg_usuario {
  visibility: visible;
  opacity: 1;
}
.no-scroll_usuario {
  overflow-y: hidden;
}
.popup_usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1.25em;
  margin-top: 6.875em;
  color: var(--fuente__gris-oscuro);
  background: #eee;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  box-shadow: rgba(50, 50, 93, 0.25) 0em 3.125em 6.25em -1.25em,
    rgba(0, 0, 0, 0.3) 0em 1.875em 3.75em -1.875em,
    rgba(10, 37, 64, 0.35) 0em -0.125em 0.375em 0em inset;
  border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
}
.cerrar_popup_usuario {
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
}
.foto_nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.25em;
  border-bottom: 0.0625em solid var(--borde__gris-oscuro);
  /* border: 0.0625em solid fuchsia; */
}
.elementos_usuario {
  width: 11.25em;
  font-size: 1em;
  padding: 0.625em 1.25em;
  margin-bottom: 0.9375em;
  color: var(--fuente__gris-oscuro);
  background: var(--bg__blanco);
  /* border: 0.0625em solid fuchsia; */
}

/* !MODAL CONTENEDOR FOTO AVATAR */
/* !MODAL CONTENEDOR FOTO AVATAR */
/* !MODAL CONTENEDOR FOTO AVATAR */

.contenedor_modal_avatar {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.activar_bg_avatar {
  visibility: visible;
  opacity: 1;
}
.no-scroll_avatar {
  overflow-y: hidden;
}
.modal_avatar {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  background-image: url("../img/fondo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 0.0625rem solid fuchsia; */
  text-align: center;
  font-family: "roboto";
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  box-shadow: rgba(50, 50, 93, 0.25) 0rem 3.125rem 6.25rem -1.25rem,    rgba(0, 0, 0, 0.3) 0rem 1.875rem 3.75rem -1.875rem,    rgba(10, 37, 64, 0.35) 0rem -0.125rem 0.375rem 0rem inset;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cerrar_modal_avatar {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.titulo_avatar {
  background: var(--bg__morado);
  color: var(--fuente__blanca);
}
.formulario_nuevo_avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 0 20px;
  /* border: 1px solid green; */
}
/* IMAGEN AVATAR */
/* IMAGEN AVATAR */
.contenedor_img-avatar {
  margin-top: 40px;
  width: 260px;
  height: 195px;
  margin-bottom: 40px;
  /* border: 1px solid var(--fuente__gris); */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.img-avatar {
  width: 260px;
  height: 195px;
  object-fit: contain;
}
/* BOTON SUBIR AVATAR */
/* BOTON SUBIR AVATAR */
#txt_imagen_nuevo_avatar {
  position: relative;
  padding-right: 35px;
  /* border: 1px solid fuchsia; */
}
.label_subir {
  padding: 10px;
  position: absolute;
  top: 5px;
  right: 0;
  background: transparent;
  outline: none;
  /* border: 1px solid blue; */
}
#input_file_nuevo_avatar {
  display: none;
}
.label_subir span {
  background: transparent;
  outline: none;
}
/* ESTILOS DEL INPUT */
/* ESTILOS DEL INPUT */
.formulario__grupo {
  height: 55px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* border: 1px solid fuchsia; */
}
/* MENSAJE DE ERROR DEL INPUT */
/* MENSAJE DE ERROR DEL INPUT */
.formulario__input-error {
  width: 260px;
  display: none;
  text-align: justify;
  padding: 10px;
  margin-bottom: 15px;
  color: var(--fuente__roja);
  font-size: 14px;
}
.mensajes_error_inputs {
  width: 260px;
  margin-bottom: 20px;
  /* border: 1px solid fuchsia; */
}
.formulario__input-error-abajo {
  display: none;
  padding: 10px;
  margin: 10px 0;
  color: #8b0d00;
  background: #fad0cc;
  font-size: 16px;
  border: 2px solid #f8b9b3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nom_campo {
  font-weight: bold;
}
.formulario__input-error-abajo-activo {
  display: block;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
}
.formulario__grupo-input {
  width: 260px;
  display: flex;
  justify-content: center;
  position: relative;
  background: var(--bg__blanco);
  /* border: 1px solid green; */
}
.formulario__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 15px;
  outline: none;
  font-size: 16px;
  color: var(--fuente__negra);
  font-weight: 300;
  border: 1px solid var(--fuente__gris);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  /* border: 1px solid green; */
}
/* ESTILOS PLACEHOLDER */
/* ESTILOS PLACEHOLDER */
.formulario__placeholder {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 15px;
  display: inline-block;
  font-style: 16px;
  color: var(--fuente__negra);
  pointer-events: none;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  /* border: 1px solid blue; */
  /* z-index: 1; */
}
.formulario__input:focus ~ .formulario__placeholder,
.formulario__input:valid ~ .formulario__placeholder {
  font-size: 14px;
  /*background: var(--bg__blanco);*/
  padding: 0 6px;
  transform: translateX(5px) translateY(-18px);
  -webkit-transform: translateX(5px) translateY(-18px);
  -moz-transform: translateX(5px) translateY(-18px);
  -ms-transform: translateX(5px) translateY(-18px);
  -o-transform: translateX(5px) translateY(-18px);
}
/* ICONO DE VALIDACIONES */
/* ICONO DE VALIDACIONES */
.formulario__grupo-correcto .formulario__input {
  border: 2px solid var(--bg__verde);
}
/* EQUIS ROJA */
.formulario__grupo-incorrecto .formulario__label {
  color: var(--bg__rojo);
}
.formulario__grupo-incorrecto .formulario__input {
  border: 2px solid var(--bg__rojo);
}
.formulario__grupo-incorrecto .formulario__input:focus {
  border: 2px solid var(--bg__rojo);
}
.icon-cancel-circled2 {
  color: var(--bg__rojo);
}
.icon-ok-squared {
  color: var(--bg__verde);
}
/* BOTONES AVATAR */
/* BOTONES AVATAR */
.btn_avatar {
  width: 200px;
  height: 40px;
  font-size: 19.2px;
  margin-bottom: 30px;
  border: none;
  background: var(--bg__azul);
  color: var(--fuente__blanca);
}
.btn_cancelar_avatar {
  width: 100px;
  text-decoration: none;
  margin-top: -15px;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 40px;
  color: #444;
  letter-spacing: 0.0938rem;
  cursor: pointer;
  border-bottom: 0.125rem solid #444;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  /* border: 1px solid fuchsia; */
}
.btn_cancelar_avatar:hover {
  width: 140px;
}

/* !POPUP EXITO */
/* !POPUP EXITO */
/* !POPUP EXITO */

.contenedor_popup_exito {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.activar_bg_exito {
  visibility: visible;
  opacity: 1;
}
.no-scroll_exito {
  overflow-y: hidden;
}
.popup_exito {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../img/fondo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--fuente__gris-oscuro);
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  box-shadow: rgba(50, 50, 93, 0.25) 0em 3.125em 6.25em -1.25em,    rgba(0, 0, 0, 0.3) 0em 1.875em 3.75em -1.875em,    rgba(10, 37, 64, 0.35) 0em -0.125em 0.375em 0em inset;
  /*border: 1px solid blue;*/
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.cerrar_popup_exito {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}
.titulo_exito {
  background: var(--bg__verde);
  color: var(--fuente__blanca);
}
.contenedro__img-exito {
  width: 180px;
  margin: 40px 0 0 0;
  /* border: 1px solid blue; */
}
.contenedro__img-exito img {
  width: 100%;
  /* border: 1px solid fuchsia; */
}
.popup_exito .icon-ok-circle {
  font-size: 3em;
  color: var(--bg__verde);
}
.mensaje__exito {
  width: 260px;
  padding: 10px;
  color: #155724;
  background: #D4EDDA;
  border: 2px solid #C3E6CB;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.mensaje__info-exito {
  width: 260px;
  margin: 20px 0;
  text-align: center;
  padding-top: 10px;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
}
.titulo_mensaje_exito {
  margin-bottom: 15px;
}
.lista-info-exito {
  list-style-position: inside;
  margin-bottom: 10px;
  padding: 0 10px;
}
.txt__negrita-exito {
  font-weight: bold;
}
.txt__enter-exito {
  display: block;
}
.btn_exito {
  width: 200px;
  height: 40px;
  font-size: 19.2px;
  margin: 0 0 30px 0;
  border: none;
  text-align: center;
  background: var(--bg__verde);
  color: var(--fuente__blanca);
}

/* !POPUP ERROR */
/* !POPUP ERROR */
/* !POPUP ERROR */

.contenedor_popup_error {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.activar_bg_error {
  visibility: visible;
  opacity: 1;
}
.no-scroll_error {
  overflow-y: hidden;
}
.popup_error {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../img/fondo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--fuente__gris-oscuro);
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  box-shadow: rgba(50, 50, 93, 0.25) 0em 3.125em 6.25em -1.25em,    rgba(0, 0, 0, 0.3) 0em 1.875em 3.75em -1.875em,    rgba(10, 37, 64, 0.35) 0em -0.125em 0.375em 0em inset;
  /*border: 1px solid blue;*/
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.cerrar_popup_error {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}
.titulo_error {
  background: var(--bg__amarillo);
  color: var(--fuente__blanca);
}
.contenedro__img-error {
  width: 180px;
  margin: 40px 0 0 0;
  /* border: 1px solid blue; */
}
.contenedro__img-error img {
  width: 100%;
  /* border: 1px solid fuchsia; */
}
.popup_error .icon-attention-circled {
  font-size: 3em;
  color: #F7D700;
}
.mensaje__error {
  width: 260px;
  padding: 10px;
  color: #81693B;
  background: #FCECCB;
  border: 2px solid #F0E5C9;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.mensaje__info-error {
  width: 260px;
  margin: 20px 0;
  text-align: center;
  padding-top: 10px;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
}
.titulo_mensaje_error {
  margin-bottom: 15px;
}
.lista-info-error {
  list-style-position: inside;
  margin-bottom: 10px;
  padding: 0 10px;
}
.txt__negrita-error {
  font-weight: bold;
}
.txt__enter-error {
  display: block;
}
.btn_error {
  width: 200px;
  height: 40px;
  font-size: 19.2px;
  margin: 0 0 30px 0;
  background: var(--bg__amarillo);
  color: var(--fuente__blanca);
  border: none;
}

/* !POPUP ERROR SISTEMA */
/* !POPUP ERROR SISTEMA */
/* !POPUP ERROR SISTEMA */

.contenedor_popup_error_sistema {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.activar_bg_error_sistema {
  visibility: visible;
  opacity: 1;
}
.no-scroll_error_sistema {
  overflow-y: hidden;
}
.popup_error_sistema {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../img/fondo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--fuente__gris-oscuro);
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  box-shadow: rgba(50, 50, 93, 0.25) 0em 3.125em 6.25em -1.25em,    rgba(0, 0, 0, 0.3) 0em 1.875em 3.75em -1.875em,    rgba(10, 37, 64, 0.35) 0em -0.125em 0.375em 0em inset;
  /*border: 1px solid blue;*/
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.cerrar_popup_error_sistema {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}
.titulo_error_sistema {
  background: var(--bg__amarillo);
  color: var(--fuente__blanca);
}
.contenedro__img-error_sistema {
  width: 180px;
  margin: 40px 0 0 0;
  /* border: 1px solid blue; */
}
.contenedro__img-error_sistema img {
  width: 100%;
  /* border: 1px solid fuchsia; */
}
.popup_error_sistema .icon-attention-circled {
  font-size: 3em;
  color: #F7D700;
}
.mensaje__error_sistema {
  width: 260px;
  padding: 10px;
  color: #81693B;
  background: #FCECCB;
  border: 2px solid #F0E5C9;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.mensaje__info-error_sistema {
  width: 260px;
  margin: 20px 0;
  text-align: center;
  padding-top: 10px;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
}
.titulo_mensaje_error_sistema {
  margin-bottom: 15px;
}
.lista-info-error_sistema {
  list-style-position: inside;
  margin-bottom: 10px;
  padding: 0 10px;
}
.txt__negrita-error_sistema {
  font-weight: bold;
}
.txt__enter-error_sistema {
  display: block;
}
.btn_error_sistema {
  width: 200px;
  height: 40px;
  font-size: 19.2px;
  margin: 0 0 30px 0;
  background: var(--bg__amarillo);
  color: var(--fuente__blanca);
  border: none;
}

/* !MODAL ACTUALIZAR PERFIL */
/* !MODAL ACTUALIZAR PERFIL */
/* !MODAL ACTUALIZAR PERFIL */

.contenedor_modal_actualizarPerfil {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.activar_bg_actualizarPerfil {
  visibility: visible;
  opacity: 1;
}
.no-scroll_actualizarPerfil {
  overflow-y: hidden;
}
.modal_actualizarPerfil {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../img/fondo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "roboto";
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  box-shadow: rgba(50, 50, 93, 0.25) 0rem 3.125rem 6.25rem -1.25rem,    rgba(0, 0, 0, 0.3) 0rem 1.875rem 3.75rem -1.875rem,    rgba(10, 37, 64, 0.35) 0rem -0.125rem 0.375rem 0rem inset;
  /*border: 0.0625rem solid fuchsia;*/
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.cerrar_modal_actualizarPerfil {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.contenedro__img-foto {
  width: 180px;
  margin: 60px 0 0 0;
  /* border: 1px solid blue; */
}
.contenedro__img-foto img {
  width: 100%;
  /* border: 1px solid fuchsia; */
}
.mensaje__actualizarPerfil {
  width: 260px;
  padding: 10px;
  color: #8B0D00;
  background: #FAD0CC;
  border: 2px solid #F8B9B3;
  font-size: 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.modal_actualizarPerfil .icon-attention {
  font-size: 3em;
  color: #F8B9B3   ;
}
.nom_campo {
  font-weight: bold;
}
.btn_actualizarPerfil {
  width: 200px;
  height: 40px;
  font-size: 19.2px;
  margin: 30px 0 30px 0;
  background: var(--bg__rojo);
  color: var(--fuente__blanca);
  border: none;
  text-decoration: none;
}

/* !MEDIA QUERIES */
/* !MEDIA QUERIES */
/* !MEDIA QUERIES */

@media screen and (max-width: 415px) {
  .contenedor_navegacion {
    height: auto;
  }
  .dashboard_nombre {
    width: 220px;
    height: 50px;
    position: fixed;
    top: 5px;
    z-index: 100;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .dashboard_navegacion {
    z-index: 90;
    width: 220px;
    height: 560px;
    margin-top: 50px;
    position: fixed;
    top: 5px;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  .active {
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
  }
  .opacity {
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
  }
  .contenedor_navbar {
    align-self: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    /* margin: 0; */
  }
  .paginas {
    margin-left: 10px;
  }
  .navbar_izquierda {
    margin-top: 10px;
    padding: 0;
  }
  .navbar_derecha {
    padding: 0;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedor_notificaciones {
    height: 340px;
    width: 300px;
  }
  .contenedor_popup_usuario {
    margin-left: 5px;
  }
  .popup_usuario {
    margin: 55px auto;
  }
  .contenedor_perfil {
    width: 300px;
  }
  .contenedor_popup_notificaciones {
    justify-content: center;
    margin-top: -60px;
  }
}
@media screen and (max-width: 415px){
  
}